## Pandas - Python Data Analysis Library

In [ ]:
pip install pandas

import pandas
# import pandas as pd

Pandas slouží pro analýzu dat, které lze reprezentovat 2D tabulkou. Tento „tvar” dat najdeme v SQL databázích, souborech CSV nebo tabulkových procesorech. Stručně řečeno, co jde dělat v Excelu, jde dělat i v Pandas

### Pandas tutorial
docs: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html  -- ukázat, nasdílet

### Jak vytvořit dataset

In [1]:
import pandas as pd

In [2]:
# Dataframe (DF) tvoříme ze složeného slovníku - Klíče jsou názvy sloupců, hodnoty (v listu) jsou data v řádcích

people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

print(type(people))

people_df = pd.DataFrame(people)

print(type(people_df))

print(people_df)

<class 'dict'>
<class 'pandas.core.frame.DataFrame'>
   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:
# Vytvoření DF rovnou bez mezi proměnné #zkopírovat do channelu pro práci

countries_df = pd.DataFrame({
'country': ['United States', 'The Netherlands', 'Spain', 'Mexico', 'Australia'],
'capital': ['Washington D.C.', 'Amsterdam', 'Madrid', 'Mexico City', 'Canberra'],
'continent': ['North America', 'Europe', 'Europe', 'North America', 'Australia'],
'language': ['English', 'Dutch', 'Spanish', 'Spanish', 'English']})

print(countries_df)

           country          capital      continent language
0    United States  Washington D.C.  North America  English
1  The Netherlands        Amsterdam         Europe    Dutch
2            Spain           Madrid         Europe  Spanish
3           Mexico      Mexico City  North America  Spanish
4        Australia         Canberra      Australia  English

In [119]:
# nahrávání rovnou z csv souboru
df = pd.read_csv("top100banks.csv")  # add later index_col="rank" # ukázat a vysvětlit index
#pd.set_option('display.max_columns', 8)  #!must be pd not df! # nastavení zobrazení, ukázat bez
#pd.set_option('display.max_rows', 85)
#print(df)


#nastaveni indexu
#df = pd.read_csv("top100banks.csv", index_col="rank") 
#df = df.set_index("rank")

#df = pd.read_csv("top100banks.csv", index_col="country") # sloupec country je dvakrát ve výsledku - 1) index, 2) coutry
# print(df)

### Základní funkce

In [14]:
#print(type(df)) # objekt
#print(df.tail(20)) # tail = ocas = posledních xx řádků

#print(df.head(5)) # head = hlava = prvních xx řádků

# DATAFRAME SHAPE
#print(df.shape) # shape = tvar

   rank                                   bank country total_assets_us_b  \
0     1  Industrial & Commercial Bank of China   China          4,005.58
1     2           China Construction Bank Corp   China          3,397.13
2     3             Agricultural Bank of China   China          3,232.68
3     4                          Bank of China   China          2,989.16
4     5         Mitsubishi UFJ Financial Group   Japan          2,773.82

  balance_sheet
0    2017-12-31
1    2017-12-31
2    2017-12-31
3    2017-12-31
4    2017-12-31

### Přístup k datům ze sloupců

### funkce loc a iloc 
https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79 # můžete si otevřít jako pomocný materiál


jupyter notebook z článku - https://github.com/BindiChen/machine-learning/blob/master/data-analysis/030-pandas-loc-and-iloc/pandas-loc-and-iloc.ipynb

 # loc je label-based - to znamená že musíme specifikovat řádky a sloupce podle jejich názvu = labelu
   # řádky nemusí být jen indexované! 
   
 # iloc je integer position-based - musíme specifikovat řádky a sloupce podle jejich číselné (integer) pozice
 
 # ukázat tabulku z článku

# syntax 

# loc[row_label, column_label]

# iloc[row_position, column_position]

# dostat všechny řádky - df.loc[:, 'sloupec']
# dostat všechny řádky - df.iloc[:, 'index_sloupec']

# k zamyšlení - jak dostat všechny sloupce pro daný řádek? 

# dostat všechny sloupce - df.loc["radek", :]
# dostat všechny sloupce - df.iloc[2, :]

#### Úkoly z coutries_df
1) udělejte si countries_df dataframe ze slovníku dat -> nasdíleno do slack channelu

2) nastavte index sloupec na zemi (country)

3) napište pomocí loc a iloc "query" (vysvětlit co je to query!) abyste získali hlavní město Mexika

4) napište pomocí loc a iloc "query" abyste získali všechny jazyky

5) napište pomocí loc a iloc "query" abyste získali všechny data pro Španělsko

In [41]:
# ACCESSING COLUMNS AND CELLS
# můžeme kombinovat i více hodnot v loc a iloc -> vkládáme je do listu --> proto tolik hranatých závorek 

#print(df.columns)
#print(type(df.columns))
#print(list(df.columns))
#print(df.bank)
#print(df["bank"])


#print(df[["bank","country"]]) # POZOR dvojite [[]]

#print(df.loc[0:10, "rank":"country"])
#print(df.loc[0:10, ["rank","country"]])


#print(df.iloc[0:10, 0:3]) #slicing bez hranatých závorek
#print(df.iloc[[0,3,5,10], 0:3]) #radek 0 a 10 
#print(df.iloc[[0:10], 0:3]) #error
#print(df.iloc[[0:10], [0:3]]) #error

#print(df.iloc[[2], [1]])
#print(type(df.iloc[[2], [1]]))
#print(df.iloc[2,1])
#print(type(df.iloc[2,1]))
#print(df.loc[2, "bank"])
#print(type(df.loc[2, "bank"]))

# alternativní zápis
rows = [0,1,2,3,4]
cols=["bank", "total_assets_us_b"]
print(df.loc[rows, cols])

                                    bank total_assets_us_b
0  Industrial & Commercial Bank of China          4,005.58
1           China Construction Bank Corp          3,397.13
2             Agricultural Bank of China          3,232.68
3                          Bank of China          2,989.16
4         Mitsubishi UFJ Financial Group          2,773.82

### Filtrování dat podle podmínek

# Syntax

1) Buď vytvoříme podmínku zvlášť (good practice// standart ji nazvat "filt" --> otázka: proč ne "filter"?) pod proměnou a tu vložíme do výrazu

high_rank = df["rank"] < 15
filt = df["rank"] < 15
high_rank_filter = df["rank"] < 15

print(df.loc[high_rank,["country", "bank"]])


2) Výraz rovnou vkládáme do loc / iloc
df.loc[df["rank"] < 15, :]

Podmínek může být víc a spojujeme je pomocí výrazů & (AND) | (OR)
df.loc[
    (df["rank"] < 15) & (df["country"] != 'China'), 
    ['bank'],
]


# Doplnění pro samostudium
Podmínky se dají vytvářek i přes iloc, nicméně je to o trochu složitější -> musíme je konvertovat do listu (viz. článek)
# zajímavost v článku - import z csv bez headers -> sloupce jsou jen indexy

In [58]:
# FILTERING
#filt = (df['bank'] == 'Bank of China') & (df['country'] == 'China') # | == AND
#filt = (df['bank'] == 'Suntrust Banks') | (df['country'] == 'China') # | == OR

#print(filt)
#print(type(filt))
#print(df.loc[filt, ["rank", "total_assets_us_b"]])  # print all under filter
#print(40*"*")
#print(df.loc[-filt, ["bank", "total_assets_us_b"]]) # printing all NOT in filter


#high_rank = (df["rank"] < 15)
#print(df.loc[high_rank])
#print(df.loc[high_rank,"rank":"country"])

#print(df.loc[df["rank"] < 15, :])
print(df.loc[
    (df["rank"] < 15) & (df["country"] != 'China'), 
    ['bank'],
]) # už se to začíná podobat SQL :)

                              bank
4   Mitsubishi UFJ Financial Group
5              JPMorgan Chase & Co
6                    HSBC Holdings
7                      BNP Paribas
8                  Bank of America
10           Credit Agricole Group
11                     Wells Fargo
12                 Japan Post Bank
13          Mizuho Financial Group

### Pokročilejší filtrace a změny názvů sloupců, změny dat

In [108]:
#1 funkce .isin # hledá jestli je zadaná hodnota v nějakém extrerním listu

#eu_countries = ["UK", "France", "Germany", "Italy", "Spain"] # UK not anymore :)
#filt = df["country"].isin(eu_countries)
#print(filt) # bool -> True // False
#print(df.loc[filt]) # 6 7  HSBC Holdings  UK  2,521.77....
#print(df.loc[filt, "bank"])  # 6 HSBC Holdings

#2 funkce .str.contains

#filt = df["country"].str.contains('US') # string that contains "US" (to catch US and USA) and if there is empty value --> it is True
#print(filt)
#filt = df["country"].str.contains('U')  # UK, USA
#print(df.loc[filt]) # printing only those rows chosen by filter (== containg US)

#UKOL: Napište query která vyfitruje všechny banky, které mají v názvu slovo "Bank"
#filt = df["bank"].str.contains("Bank")
#print(filt)
#print(df.loc[filt])

#3 funkce .rename
#print(df)
#df = df.rename(columns = {"bank":"jmeno banky", "country": "zeme"}) #bez inplace to failuje
#print(df)
#print(df.rename(columns={"bank":"jmeno banky", "country": "zeme"}, inplace=True))

#print(df)
#filt = df["jmeno banky"].str.contains("Bank")
#print(filt)

# funkce .map
#df["zeme"] = df["zeme"].map({"USA": "Amerika", "China": "Cina"}) # hodi to NAN na všechny ostatni --> lepši použivat s True / False
#print(df["zeme"])
#df["zeme"] = df["zeme"].map({"Cina": True}) # zbytek je NaN
# print(df["zeme"])

#format = lambda x: x.upper()
#df = df["zeme"].map(format) # musíme to dát do proměné --> DF =
#print(df)

     rank                            jmeno banky         zeme  \
0       1  Industrial & Commercial Bank of China        China
1       2           China Construction Bank Corp        China
2       3             Agricultural Bank of China        China
3       4                          Bank of China        China
4       5         Mitsubishi UFJ Financial Group        Japan
..    ...                                    ...          ...
115   116                    Qatar National Bank        Qatar
116   117                National Bank of Canada       Canada
117   118                         Suntrust Banks          USA
118   119                 Korea Development Bank  South Korea
119   120                                Belfius      Belgium

    total_assets_us_b balance_sheet
0            4,005.58    2017-12-31
1            3,397.13    2017-12-31
2            3,232.68    2017-12-31
3            2,989.16    2017-12-31
4            2,773.82    2017-12-31
..                ...           ...
115            221.18    2017-12-31
116           208.408    2017-12-31
117           205.962    2017-12-31
118           205.145    2016-12-31
119           201.192    2017-12-31

[120 rows x 5 columns]

všechny fuknce co umí pandas: https://pandas.pydata.org/docs/reference/frame.html

### Úprava dat

In [117]:
# Vložení nových dat do sloupce
#print(df)
#print(df.loc[0])
#df.loc[0] = [1, "CSOB", "Czechia", "1000", "2020-12-31"]
#print(df.loc[0])
#print(type(df.loc[0, "bank"])) # class str
#print(type(df.loc[0, ["bank", "country"]])) #class <class 'pandas.core.series.Series'>


#print(df.loc[1])
#df.loc[1, ["bank", "country"]] = ["VUB", "Slovakia"]
#print(df.loc[1])

# Nahrazení více dat najednou podle podmínek

filt = (df["country"] == "China")
df.loc[filt, ["country", "bank"]] = ["Cina", "Banka v Cine"]
print(df)

# Úpravy a agregační funkce - APPLY, LEN, MAP

# funkce LEN
#print(df["country"].apply(len))

# LAMBDA funkce
#format = lambda x: x.upper()
#df = df["zeme"].map(format) # musíme to dát do proměné --> DF =
#print(df)

# Normální funkce 
# APPLY
def make_it_upper(name):
    return name.upper()
#df = df["country"].apply(make_it_upper) # nefunfuje bez df = || hodí error s make_it_upper()
#print(df)

#df["country"] = df["country"].apply(lambda x: x.lower())
#print(df)

#print(len(df["rank"]))
#print(len(df["rank", "country"])) # Error - > jen jedna proměná


#print(df.apply(lambda x: x.min())) minima z každého sloupce
#print(df.applymap(len)) # error - int has no len --> same for max, min
#print(people_df.applymap(len))
#print(people_df.applymap(max)) # interesting --> showing highest letter
#print(people_df.applymap(str.lower))

#df['country'] = df['country'].replace({'China': 'Cina', 'USA': 'United States'})
#print(df)

     rank                            bank      country total_assets_us_b  \
0       1                            CSOB      Czechia              1000
1       2                             VUB     Slovakia          3,397.13
2       3                    Banka v Cine         Cina          3,232.68
3       4                    Banka v Cine         Cina          2,989.16
4       5  Mitsubishi UFJ Financial Group        Japan          2,773.82
..    ...                             ...          ...               ...
115   116             Qatar National Bank        Qatar            221.18
116   117         National Bank of Canada       Canada           208.408
117   118                  Suntrust Banks          USA           205.962
118   119          Korea Development Bank  South Korea           205.145
119   120                         Belfius      Belgium           201.192

    balance_sheet
0      2020-12-31
1      2017-12-31
2      2017-12-31
3      2017-12-31
4      2017-12-31
..            ...
115    2017-12-31
116    2017-12-31
117    2017-12-31
118    2016-12-31
119    2017-12-31

[120 rows x 5 columns]

## Zbytek se naučíme za pochodu :)

# otevřete si v googlesheets/excelu soubor top100banks.csv

# ulozte si top100banks.csv do projektu v pycharmu abychom s nim mohli pracovat

### Excel - úkoly

1) Seradte banky podle total assets od nejnižší po nejvyšší
2) Seradte bank podle abecedy (z-a)
3) Vypocitejte soucet všech assets, vypocitejte median vsech assets
4) Vytvorte seznam vsech zemi v kterých se banky nachází (a-z)
5) Udelejte tabulku - kolik bank je v které zemi (např: USA: 5) (pocet bank - od nejvic do nejmin)
6) Udelejte tabulku - kolik bank je v které zemi a kolik mají dohromady assets (a-z)
7) Udelejte tabulku kde bude z každé země pouze banky s nejvíce assets (a-z)
8) Vypiste banky ktere zacinaji pouze na "B"
9) Vypiste banky ktere maji assets nad 1000 mld USD 
10) Udelejte tabulku - banky zacinajici na stejne pismeno a kolik mají dohromady assets (a-z)

### Pandas úkoly :)

1) Seradte banky podle total assets od nejnižší po nejvyšší
2) Seradte bank podle abecedy (z-a)
3) Vypocitejte soucet všech assets, vypocitejte median vsech assets
4) Vytvorte seznam vsech zemi v kterých se banky nachází (a-z)
5) Udelejte tabulku - kolik bank je v které zemi (např: USA: 5) (a-z)
6) Udelejte tabulku - kolik bank je v které zemi a kolik mají dohromady assets (a-z)
7) Udelejte tabulku kde bude z každé země pouze banky s nejvíce assets (a-z)
8) Vypiste banky ktere zacinaji pouze na "B"
9) Vypiste banky ktere maji assets nad 1000 mld USD 
10) Udelejte tabulku - banky zacinajici na stejne pismeno a kolik mají dohromady assets (a-z)

Projdeme si je jeden po druhém spolu:
5-15 min na task pro vás
5 min - řešení a vysvětlení ode mě

## 0)  Převést total assets na float

Nápověda:

In [131]:
filt = lambda x: float(x.replace(",",""))
df["total_assets_us_b"] = df["total_assets_us_b"].map(filt)
print(df)

     rank                                   bank      country  \
0       1  Industrial & Commercial Bank of China        China
1       2           China Construction Bank Corp        China
2       3             Agricultural Bank of China        China
3       4                          Bank of China        China
4       5         Mitsubishi UFJ Financial Group        Japan
..    ...                                    ...          ...
115   116                    Qatar National Bank        Qatar
116   117                National Bank of Canada       Canada
117   118                         Suntrust Banks          USA
118   119                 Korea Development Bank  South Korea
119   120                                Belfius      Belgium

     total_assets_us_b balance_sheet
0             4005.580    2017-12-31
1             3397.130    2017-12-31
2             3232.680    2017-12-31
3             2989.160    2017-12-31
4             2773.820    2017-12-31
..                 ...           ...
115            221.180    2017-12-31
116            208.408    2017-12-31
117            205.962    2017-12-31
118            205.145    2016-12-31
119            201.192    2017-12-31

[120 rows x 5 columns]

## 1) Seradte banky podle total assets od nejnižší po nejvyšší

Nápověda: vytisknout řádky opačně? jak zresetovat index?
# pripadne -> pokud je assets float -> použít sort_values

## 2) Seradte banky podle abecedy (z-a)

In [ ]:
Nápověda: funkce sort_values

## 3) Součet všech assets, median assets

Nápověda: assets na float
google :) - pandas sum // pandas median (oficialni docs)

## 4) Zbytek dám na slack :)